// Variables

$light-grey: #F5F5F5;
$dark-grey: #3B3D3D;
$coral: #FF7F50;
$blue: #4682B4;

$text-color: $dark-grey;
$text-color: $light-grey;
$text-color: $coral;
$text-color: $blue;

$background-color: $light-grey;
$background-color: $dark-grey;
$background-color: $coral;
$background-color: $blue;




