// Variables

$light-grey: #F5F5F5;
$dark-grey: #3B3D3D;
$coral: #F15B4C;
$lightest-blue: #8AA7CB;
$light-blue: #4885B8;
$blue: #005C9B;
$dark-blue: #1B3D5F;

$text-color: $dark-grey;
$text-color: $light-grey;
$text-color: $coral;
$text-color: $lightest-blue;
$text-color: $light-blue;
$text-color: $blue;
$text-color: $dark-blue;

$background-color: $light-grey;
$background-color: $dark-grey;
$background-color: $coral;
$background-color: $lightest-blue;
$background-color: $light-blue;
$background-color: $blue;
$background-color: $dark-blue;




