<h1> About the Laundromat Project </h1>

<h2> Mission &amp; Vision </h2>

<p>We amplify the creativity that already exists within communities by using arts and culture to build community networks, solve problems, and enhance our sense of ownership in the places where we live, work, and grow.</p>

<p>We envision a world in which artists are understood as valuable assets in every community and everyday people know the power of their own creative capacity to transform their lives, their relationships, and their surroundings.</p>

<h2>Theory of Change</h2>

<p> The Laundromat Project believes art, culture, and engaged imaginations can change the way people see their world, open them up to new ideas, and connect them with their neighbors. When artists have the opportunity to build and contribute their unique skills and perspectives to the needs of their neighborhoods, they can be invaluable assets in furthering community wellbeing. When the skills and strategies for igniting creativity are made broadly available to everyday people and purposefully applied as tools for visioning a new and better world, these can be powerful forces for positive, transformative change. We know we have been successful when, over time, our neighbors—artists and everyday people, newcomers and old-timers, individually and collectively—become more involved in the civic and cultural affairs of their communities, feel more deeply connected to the places and people where they live and work, and bring a sense of creativity to community concerns.</p>

<h2>Values</h2>

<p>The Laundromat Project achieves its mission by bringing socially relevant and socially engaged arts programming to laundromats and other everyday community spaces in order to reach as many of our neighbors as possible. We are particularly committed to long-term and sustained investment in communities of color as well as those living on modest incomes.

As we strive to achieve our mission and embody our vision, the following values infuse all of our work. We are:</p>

<h3>Creative Catalysts</h3>

<p>We see artists as unique connectors who build bridges among disparate ideas, cultures, and points of view. Their ability to bring unconventional perspectives and creative solutions to challenges and situations makes artists dynamic and powerful assets in our communities.</p>

<h3>Community-Centered</h3>

<p>We believe that creativity is best activated where people already are—such as their local laundromat and other everyday spaces—and while addressing the issues we care about most.</p>

<h3>Neighborly</h3>

<p>We believe arts, culture, and creative expression are powerful engines for turning strangers into neighbors. A community of neighbors helps make the strong, resilient communities in which we all deserve to live. We strive to be good neighbors always.</p>

<h3>People Powered</h3>

<p>We are inspired by the diverse, creative, passionate people with whom we work. Even when we face the challenges of inequity or injustice—be they driven by race, class, gender, education, or geography/environment—we believe in the inherent, creative capacity of us all to dream a new world and bring it into being.</p>

<h3>Active Listeners and Learners</h3>

<p>We do our best work when we listen to understand and learn, not just to hear or recite. Furthermore, learning, like creativity, requires a willingness to experiment, reconsider, and refine. These two skills are cornerstones for creating positive, transformative change.</p>

<h3>Collaborative and Cross-Pollinating by Design</h3>

<p>We believe in the full creative force of our communities to solve challenges and envision new ways of being. This is powered by working collectively and leveraging the wide-spectrum of experiences, knowledge, and skills each community member brings to and across the table.</p>

<h3>Propelled by Love</h3>

<p>Our work is fueled by a love of our communities, the principles of justice, and a joy powerful enough to help shape the world we dream of together. Love is a radical and essential tool of power and protest. We embrace it.</p>
