
        <div class="donate-btn">
                <a href="{{site.baseurl}}/donate/">
                    <h2>Donate</h2>
                </a>
            </div>

<div class="billboard-container">
    <div class="billboard">
        <div class="billboard-box">
            <h1> 
                Make Art.<br>
            Wash Clothes.<br>
            Build Community.

            </h1>
        </div>

    </div>
    
     

    
<!--
        <div class="billboard-buttons">

            <div class="buttons">
                <i class="icon-carosel-dot"></i>
                <i class="icon-carosel-dot"></i>
                <i class="icon-carosel-dot"></i>
                <i class="icon-carosel-dot"></i>

            </div>

        </div>
-->
</div>
