<h1> 2015 Artist Profile Videos </h1>

<h2> JANUARY 22, 2016 </h2>

<p>Watch video profiles of our 2015 Create Change artists projects, produced by Line Break Media.</p>
 
<h2>Raul Ayala and Fernanda Espinosa: Whose Streets?</h2>

<iframe src="https://player.vimeo.com/video/149914574" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<h2>Elvira Clayton: Dioko</h2>

<iframe src="https://player.vimeo.com/video/151655980" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<h2>Rasu Jilani: Griots in “the Stuy”</h2>

<iframe src="https://player.vimeo.com/video/151662731" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<h2>Alison Kibbe & Sasha Phyars-Burgess: Storyblock</h2>

<iframe src="https://player.vimeo.com/video/151655979" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<h2>Claro de los Reyes: My Baryo, My Borough</h2>

<iframe src="https://player.vimeo.com/video/152688197" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
