<div class="christopher" id="christopher"> 
    
          <a href="#team" class="lb-close icon-x"></a>
        
        <ul class="lb-nav">
            <li>
                <a href="#sophie" class="lb-back"><</a>
             </li>
    
            <li>
            <a href="#julie" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">

<div class="profile">
  <div>
    <figure>
      <img src="../images/christopher-montgomery.jpg" alt="Christopher Montgomery">
    </figure>
  </div>
  <div>
    <h3>Christopher Montgomery</h3>

    <h4>KPMG</h4>

    <p>Chris Montgomery is a management consultant at KPMG, one of the world’s leading professional services companies. He is also on the Board of Directors of the Bedford-Stuyvesant YMCA, where he chairs the fundraising effort to support memberships and programming for youth and families in need. He is a committed supporter of all things artistic, progressive, and that make the world turn. Mr. Montgomery holds a degree in Society and Economy from Cornell University, and an M.B.A. from Columbia University.</p>
  </div>
</div>

</div>    
    
    	{% include footer.html %}
</div>