<div class="dill" id="dill"> 
    
          <a href="#team" class="lb-close icon-x"></a>
        
        <ul class="lb-nav">
            <li>
                <a href="#naomi" class="lb-back"><</a>
             </li>
    
            <li>
            <a href="#stephanie" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">

            <div class="profile">
  <div>
    <figure>
      <img src="../images/dr-ledonte-dill.jpg" alt="Dr. LeConté Dill">
    </figure>
  </div>
  <div>
    <h3>Dr. LeConté Dill</h3>

    <h4>SUNY Downstate</h4>

    <p>Dr. LeConté Dill is a native of South Central Los Angeles and current lives and works in Brooklyn, New York. LeConté holds degrees from Spelman College, UCLA, and UC Berkeley, and was a postdoctoral fellow at the Morehouse School of Medicine. LeConté is an Assistant Professor at the SUNY Downstate School of Public Health, teaching and conducting research related to urban health, positive youth development, and qualitative methods. LeConté is also a creative writer, having studied poetry and fiction with writers such as with Suheir Hammad, Willie Perdomo, Cornelius Eady, and ZZ Packer, and been a featured writer in the Los Angeles Magazine, Berkeley Poetry Review, and The Feminist Wire, and a featured reader at La Peña Cultural Center, Modern Times Bookstore, and the Sackett.</p>
  </div>
</div>


    
</div>    
    
    	{% include footer.html %}
</div>