<div class="donte-container">
  <div class="form-holder">
    <h1>Donate</h1>


    <p>Our work is largely supported by the wonderful donations of individuals, foundations, and public agencies that care about art, justice, and community. We invite you to invest in our work to weave art into everyday spaces by making a one-time or recurring cash contribution, or purchasing an item from the shop.
    </p>

    <form action="thanks.html" method="get">
      <h2> Select an Amount </h2>

      <hr>

      <div class="donate-button-container">
        <div class="grid">
          <button class="amount-buttons unit unit-l-1-3 unit-m-1-3 unit-s-1-2 unit-xs-1-2">$500</button>
          <button class="amount-buttons unit unit-l-1-3 unit-m-1-3 unit-s-1-2 unit-xs-1-2">$250</button>
          <button class="amount-buttons unit unit-l-1-3 unit-m-1-3 unit-s-1-2 unit-xs-1-2">$100</button>
          <button class="amount-buttons unit unit-l-1-3 unit-m-1-3 unit-s-1-2 unit-xs-1-2">$50</button>
          <button class="amount-buttons unit unit-l-1-3 unit-m-1-3 unit-s-1-2 unit-xs-1-2">$25</button>
          <button class="amount-buttons unit unit-l-1-3 unit-m-1-3 unit-s-1-2 unit-xs-1-2">Other</button>
        </div>
      </div>

      <div class="grid">
        <div class="donate-amount">
          <div class="unit unit-l-1-3 unit-m-1-3 unit-s-1 unit-xs-1">
              <label class="box" for="amount">Your Donation</label>
              <input class="field" id="amount" type="text" placeholder="$">
          </div>

          <div class="unit unit-l-1-3 unit-m-1-3 unit-s-1 unit-xs-1">
              <input type="checkbox" id="onetime">
              <label class="box" for="onetime">One-Time</label>
          </div>

          <div class="unit unit-l-1-3 unit-m-1-3 unit-s-1 unit-xs-1">
              <input type="checkbox" id="monthly">
              <label class="box" for="monthly">Monthly</label>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="how-to-pay">
          <div class="unit unit-l-1 unit-m-1 unit-s-1 unit-xs-1">
              <input type="checkbox" id="credit">
              <label class="donate-small-text" for="credit"><span class="donate-small-text">Credit</span><img src="http://www.credit-card-logos.com/images/visa_mastercard_amex_credit-card-logos/mc_vs_ax_accpt_h_023_gif.gif" align="left" style="margin-right:7px;"></label>
          </div>
          <div class="unit unit-l-1 unit-m-1 unit-s-1 unit-xs-1">
              <input type="checkbox" id="paypal">
              <label for="paypal"><span class="donate-small-text">Paypal</span><img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px;"></label>
          </div>
        </div>
      </div>


        <div>
          <h2> Your Information </h2>

          <hr>

          <div>
            <label class="box" for="name">Full Name*</label>
            <input class="field" id="name">
          </div>

          <div>
              <input type="checkbox" id="anon">
              <label class="donate-small-text" for="anon">Make Donation Anonymous</label>
          </div>

          <div>
            <label class="box" for="email">Email*</label>
            <input class="field" id="email" class="your@email.com">
          </div>

          <div>
            <label class="box" for="phone">Phone Number*</label>
            <input class="field" maxlength="10" type="tel" id="phone">
          </div>

          <div>
            <input type="checkbox" id="optin">
            <label class="donate-small-text" for="optin">It's OK to contact me in the future</label>
          </div>
        </div>

        <h2>Payment Details</h2>

        <hr>

        <div>
          <label class="box" for="name">Name on Card*</label>
          <input class="field" id="name">
        </div>

        <div>
          <label class="box" for="cardnumber">Card Number*</label>
          <input class="field" id="cardnumber" type="number">
        </div>

        <div>
            <label class="box" for="version">Expiration Date*</label>
            <select id="version">
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            </select>
            <select id="version">
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            </select>
        </div>

        <div>
          <label class="box" for="security">Security Code*</label>
          <input class="security-field" maxlength="3" id="security" type="password">
        </div>

        <div>
            <label class="box" for="country">Country*</label>
            <select class="field" id="country">
            <option>United States</option>
            <option>Canada</option>
            </select>
        </div>

        <div>
          <label class="box" for="address">Address*</label>
          <input class="field" id="address" type="text">
        </div>

        <div>
          <label class="box" for="address">Address 2*</label>
          <input class="field" id="address" type="text">
        </div>

        <div>
          <label class="box" for="city">City*</label>
          <input class="field" id="city" type="text">
        </div>

        <div>
            <label class="box" for="state">State/Province*</label>
            <select class="field" id="state">
            <option>New York</option>
            <option>Ottawa</option>
          </select>
        </div>

        <div>
          <label class="box pad-bottom" for="zip">Zip/Postal Code*</label>
          <input class="field" id="zip" type="text">
        </div>

        <hr>

        <div class="big-donate-button-container">
          <button class="final-donate-button">Donate</button>
        </div>

        <p>By clicking, I agree to the terms</p>

      </div>
    </form>
  </div>


  <div class="pad-top text-white">
    <p>To send your tax-deductible contribution by mail, make your check payable to The Laundromat Project, Inc and mail to: </p>
  </div>

  <div class="text-white">
    <p>The Laundromat Project 127 West 127th Street Suite 324 New York, NY 10027 </p>
  </div>

</div>
