<h1> Donate </h1>

<!--
<p>Our work is largely supported by the wonderful donations of individuals, foundations, and public agencies that care about art, justice, and community. We invite you to invest in our work to weave art into everyday spaces by making a one-time or recurring cash contribution, donating a wishlist item, or purchasing an item from the shop.
</p>

<h2> Donate Now </h2>

<p>$50 provides silkscreen-ink and other materials for ten participants at a drop-in art workshop. Donate $50! </p>

<p>$100 buys media equipment for a high school student in our in-school residency program. Donate $100! </p>

<p>$250 provides a scholarship for one of our Create Change Fellows. Donate $250! </p>

<p>$500 takes our popular silk-screening workshop on the road to neighborhood festivals. Donate $500! </p>

<p>$1,000 provides a full day of training for our amazing artist faculty. Donate $1,000!
 </p>

<p>$10,000 supports a Commissioned Artist for an entire season. Donate $10,000! </p>

-->


<h2> Donate Any Amount </h2>

<p><a href="www.paypal.com">To make a donation in the amount of your choosing, please click here.
</a></p>  

 
<p>To send your tax-deductible contribution by mail, make your check payable to The Laundromat Project, Inc and mail to: </p>
 
<p>The Laundromat Project
127 West 127th Street
Suite 324
New York, NY 10027 </p>
 
<p>Thank you for supporting The Laundromat Project!</p>

<h2> Donate Montly </h2>

<p>Your generous monthly gift is especially important and deeply appreciated because it helps us focus on doing what we do best: bringing engaging, community-responsive art and artists into neighborhoods of color across Greater New York City. </p>

<p>$5 monthly
<a href="www.paypal.com">Arts Advocate</a></p>

<p>$10 monthly
<a href="www.paypal.com">Ally </a></p>

<p>$25 monthly
<a href="www.paypal.com">Friend </a></p>

<p>$50 monthly
<a href="www.paypal.com">Neighbor </a></p>

<p>$83.34 monthly
<a href="www.paypal.com">Organizer </a></p>

<p>$100 monthly
<a href="www.paypal.com">Block Captain </a></p>

<p>$250 monthly
<a href="www.paypal.com">Placemaker</a></p>


