<div class="erika" id="erika"> 
    
          <a href="#team" class="lb-close icon-x"></a>
        
        <ul class="lb-nav">
            <li>
                <a href="#stephanie" class="lb-back"><</a>
             </li>
    
            <li>
            <a href="#sophie" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">

<div class="profile">
  <div>
    <figure>
      <img src="../images/dr-erika-faust.jpg" alt="Dr. Erika Faust">
    </figure>
  </div>

  <div>
    <h3>Dr. Erika Faust</h3>

    <h4>Elite Orthodontics</h4>

    <p>Dr. Erika Faust is an orthodontist practicing in midtown Manhattan. She is a graduate of Spelman College and Howard University College of Dentistry. Prior to making a full-time commitment to her dental practice, she served as a part-time attending dentist and clinical instructor at Bronx Lebanon Hospital Center. She is active with Operation Smile, an international charity organization that treats facial deformities in children, and New Yorkers for Children, a charity that assists foster children as they enter college. Her professional affiliations include the American Dental Association, and the American Association of Orthodontists. Dr. Faust is a native New Yorker, is an avid supporter of the arts, and has lent her support to such institutions as the Museum of Modern Art, the Whitney Museum, The Fashion Institute of Technology, and the New York Public Library.</p>
  </div>
</div>


    
</div>    
    
    	{% include footer.html %}
</div>