<h1>Upcoming and Ongoing Events</h1>


<h2>Annual Events</h2>

<h3>FIELD DAY</h3>
<p>We hope to see you at our annual fall festival of neighborhoods showcasing The LP’s public art residencies, fellowships, and arts workshops in Bedford-Stuyvesant, Harlem, and Hunts Point. In each of our three anchor neighborhoods, you can look forward to free arts workshops, walking tours, facepainting, oral histories, and so much more! </p>

<h3> ART POTLUCK</h3>
<p>Our annual fall potluck celebrates each year’s Create Change artists. We bring the food. You bring the ideas. </p>

<h3>SOAPBOX</h3>
<p>SOAPBOX is The Laundromat Project’s elegant and art-filled annual benefit, including delicious beverages and hors d’oeuvres, live DJ, exclusive special edition print, silent auction, and fun art experiences. Check out photos from the 2014 event here. </p>


<h2>Past Events</h2>

<h3>CREATE CHANGE INFO SESSION</h3>
<p>January 26 2016 Create Change Info Session from The Laundromat Project, a successful info session educating people on how to become a volunteer for The Laundromat Project </p>

<h3>FIELD DAY 2015</h3>
<p>Sept 19, 20 &amp; 26, 2015
Our exciting and fun annual festival of neighborhoods in Bedford-Stuyvesant, Harlem, &amp; Hunts Point. </p>

<h3>GREENING THE CITY</h3>
<p>June 20, 2015
Our day of activities focused on environmental awareness, urban beautification, and wellness. </p>

<h3>PUBLIC ARTS POTLUCK</h3>
<p>Oct 14, 2015
An evening event that celebrated our Create Change artists; we provided dinner, they provided ideas. </p>

<h3>SOAPBOX</h3>
<p>June 16, 2015
A successful and fun Soapbox benefit honoring Glenn Ligon and Shani Peters </p>

<h3>PARENTING JOURNEY</h3>
<p>Every Tuesday Oct 6 - Dec 15 2015
Part of our popular ten-week workshop series, this one fouced on celebrating and encouraging parents and caregivers. </p>
