<footer class="footer jump-spacer-wrap pink">    
    
    <div class="grid" id="contact">
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2"> 
        
            <div class="cright">
                <h1>Get In Touch</h1>
                 <a href=”tel:16138983255″ class="phone-number" itemprop="telephone">613-898-3255</a>
                
                <a href="mailto:sydneyselch@hotmail.com" class="email" itemprop="email">hello@sydneyselch.ca</a> 
            </div>
    
        </div>
        

    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
         
               
     <ul class="social-container">
          
          
        <a href="https://www.behance.net/sydneyselch" alt="behance">
        <li class="social opacity">
            <img src="images/socialicon-01.svg" class="social-icon" alt="behance logo">    
        </li>
        </a>
        
          <a href="https://www.linkedin.com/in/sydney-selch-23a938b5" alt="linkedin">
        <li class="social opacity">
            <img src="images/socialicon-02.svg" class="social-icon" alt="linked in logo">    
        </li>
        </a> 
        
          <a href="https://www.instagram.com/sydneyselch/" alt="instagram">
        <li class="social opacity">
            <img src="images/socialicon-03.svg" class="social-icon" alt="instagram logo">
        </li>
        </a>
         
        </ul>
        
  
        
        <button class="colour-btn">
            Not feeling this colour? Change it up.
        </button>
              
  
        <p1 class="copyright">Syd. Design © 2015    </p1>
           
        </div>
    </div>
    
    
</footer>      
    