<footer class="footer">
    <div class="grid" id="contact">

        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-4 unit-xl-1-4">
         <img src="{{site.baseurl}}/images/logo.svg" alt="Company Logo" class="footer-logo">

            <ul class="company-info">
                <li>
                    <a href=”tel:16138983255″ class="phone-number" itemprop="telephone">718-774-0798</a>
                </li>

                <li>
                    <a href="mailto:sydneyselch@hotmail.com" class="email" itemprop="email">info@laundromatproject.org</a>
                </li>
            </ul>

        </div>


         <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-3-4 unit-xl-3-4">
            <div class="grid">
              <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
                <ul class="footer-nav">
                  <li class="nav-li">Who We are
                    <ul>
                      <li>
                        <a href="{{site.baseurl}}/about/">About</a>
                      </li>

                      <li>
                        <a href="{{site.baseurl}}/team/">Our Team</a>
                      </li>

                      <li>
                        <a href="{{site.baseurl}}/press/">Press</a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-li">What We Do
                     <ul>
                       <li>
                          <a href="{{site.baseurl}}/projects/">Projects</a>
                      </li>

                      <li>
                        <a href="{{site.baseurl}}/programs/">Programs</a>
                      </li>

                      <li>
                        <a href="{{site.baseurl}}/events/">Events</a>
                      </li>

                      <li>
                        <a href="{{site.baseurl}}/blog/">Blog</a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-li">Get Involved
                      <ul class=>
                        <li>
                          <a href="{{site.baseurl}}/donate/">Donate</a>
                        </li>

                        <li>
                          <a href="#">{{site.baseurl}}/jobs/</a>
                        </li>

                        <li>
                          <a href="{{site.baseurl}}/jobs/">Jobs</a>
                        </li>

                        <li>
                             <a href="{{site.baseurl}}/jobs/">Internships</a>
                        </li>
                      </ul>
                  </li>

                  <li class="nav-li">
                      <a href="{{site.baseurl}}/shop/">Shop</a>
                  </li>
            </ul>
          </div>

          <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">

          </div>

          <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">

              <ul class="social-container">

                  <li class="social opacity">
                        <a href="https://vimeo.com/laundromatproject" alt="vimeo">
                           <i class="icon-vimeo"></i>
                       </a>
                  </li>

                   <li class="social opacity">
                      <a href="https://twitter.com/LaundromatProj" alt="twitter">
                       <i class="icon-twitter"></i>
                       </a>
                  </li>

                  <li class="social opacity">
                       <a href="https://www.facebook.com/TheLaundromatProject/?fref=ts" alt="facebook">
                          <i class="icon-facebook"></i>
                      </a>
                  </li>

              </ul>
              <p class="copyright">Copyright © 2014 The Laundromat Project Inc. </p>
           </div>


          </div>
        </div>
    </div>
</footer>
