<footer class="footer">    
    <div class="grid" id="contact">
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-4 unit-xl-1-4"> 
         <img src="images/logo.svg" alt="Company Logo" class="footer-logo">    
            
            <ul class="company-info">
                <li>
                    <a href=”tel:16138983255″ class="phone-number" itemprop="telephone">(718-774-0798</a>
                </li>
                
                <li>
                    <a href="mailto:sydneyselch@hotmail.com" class="email" itemprop="email">info@laundromatproject.org</a> 
                </li>
            </ul>
    
        </div>
        
        
         <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-3-4 unit-xl-3-4"> 
             <div class="grid">
                 
                 <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
                      
                    <ul class="footer-nav">      
                   <li class="nav-li">
                Who We are
                       
                       <ul>
                    
                            <li>
                                <a href="about.html">
                                    About
                                </a>

                            </li>

                            <li>
                                <a href="team.html">
                                    Our Team
                                </a>
                            </li>

                             <li>
                                <a href="press.html">
                                    Press Mentions
                                </a>
                            </li>
                        
                       </ul>
                        
                  
                </li>
                
               <li class="nav-li">
                
                        What We Do
                  
                   
                   <ul>
                    
                        <li>
                            <a href="projects.html">
                                Projects
                            </a>
                        </li>
                
                    <li>
                            <a href="programs.html">
                                Programs
                            </a>
                        </li>
                
                    <li>
                            <a href="events.html">
                                Events
                            </a>
                        </li>
                
                    <li>
                            <a href="blog.html">
                                Blog
                            </a>
                        </li>
                       
                       </ul>
                        
                  
                </li>
          
                
               <li class="nav-li">
               Get Involved         
                    <ul class=>
                        <li>
                            <a href="#">
                                Donate
                            </a>
                        </li>
                 
                     <li>
                            <a href="#">
                               Volunteer
                            </a>
                        </li>
                 
                     <li>
                            <a href="#">
                                Jobs / Internships
                            </a>
                        </li>
                        </ul>
                </li>
                
                <li class="nav-li">
                    <a href="#contact">Shop</a>
                </li>
                
            
              
            </ul>
                 
                 </div>
                 
                <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
                  
                </div>
                 
                <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
                       
                    <ul class="social-container">

                        <li class="social opacity">
                              <a href="https://www.behance.net/sydneyselch" alt="behance">  
                                 <i class="icon-vimeo"></i>
                             </a>
                        </li>

                         <li class="social opacity">
                            <a href="https://twitter.com/LaundromatProj" alt="linkedin">
                             <i class="icon-twitter"></i>
                             </a> 
                        </li>

                        <li class="social opacity">
                             <a href="https://www.facebook.com/TheLaundromatProject/?fref=ts" alt="facebook">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
         
                    </ul>
                    <p class="copyright">Copyright © 2014 The Laundromat Project Inc. </p>
                 </div>
                             
        
            </div>
        </div>
    </div> 
</footer>      
    