<h1>EMPLOYMENT OPPORTUNITIES</h1>

 
<p>THANK YOU FOR YOUR INTEREST IN EMPLOYMENT OPPORTUNITIES AT THE LAUNDROMAT PROJECT. THERE ARE NO CURRENT EMPLOYMENT OPPORTUNITIES AVAILABLE AT THIS TIME.
</p>


<p>THE LAUNDROMAT PROJECT DOES NOT SOLICIT OR ACCEPT APPLICATIONS OR RÉSUMÉS UNLESS IT IS FOR A SPECIFIC JOB LISTED ON THIS WEBSITE.
PLEASE BE ADVISED THAT WE ARE ONLY ABLE TO CONTACT THOSE CANDIDATES WHOSE SKILLS AND BACKGROUND BEST FIT THE NEEDS OF THE EMPLOYMENT OPPORTUNITIES. 
</p>


<p>THE LAUNDROMAT PROJECT IS AN EQUAL OPPORTUNITY/AFFIRMATIVE ACTION EMPLOYER. PEOPLE OF COLOR, IMMIGRANTS, WOMEN, AND LGBTQ FOLK ARE ESPECIALLY WELCOME AND ENCOURAGED TO APPLY.
</p>