<div class="julie" id="julie"> 
    
          <a href="#team" class="lb-close icon-x"></a>
        
        <ul class="lb-nav">
            <li>
                <a href="#christopher" class="lb-back"><</a>
             </li>
    
            <li>
            <a href="#rise" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">
<div class="profile">
  <div>
    <figure>
      <img src="../images/julie-simon.jpg" alt="Julie Simon">
    </figure>
  </div>

  <div>
    <h3>Julie Simon</h3>

    <h4>NYC Economic Development Corporation</h4>

    <p>Julie K. Simon, an Assistant Vice President at the New York City Economic Development Corporation, earned a master’s degree in urban planning from NYU’s Wagner School of Public Service and a bachelor’s degree in Urban Studies from Haverford College. She is a strong supporter of creative placemaking, neighborhood-based approaches to economic development and artists as a catalyst and connector for social change. Prior to NYCEDC, Ms. Simon worked in television programming at HBO and Court TV and for a health care policy consulting firm in Washington, DC.</p>
  </div>
</div>

</div>    
    
    	{% include footer.html %}
</div>