<div class="mission-container">
    
        <h1>Our Mission</h1>
            <p>We amplify the creativity that already exists within communities by using arts and culture to build community networks, solve problems, and enhance our sense of ownership in the places where we live, work, and grow.
                
            </p>
        
        <p>
 
We envision a world in which artists are understood as valuable assets in every community and everyday people know the power of their own creative capacity to transform their lives, their relationships, and their surroundings.
        
        </p>
            
</div>
        
