 <header class="banner">    
     
    <div class="mobile-top">
        <div class="top-logo">
            <a href="#work">
                <img src="{{site.baseurl}}/images/logo-01.svg" class="mobile-logo" alt="Company Logo">
            </a>
        </div>
    </div>
     
          <!-- Menu Toggle Icon -->
        <a class="toggle-btn icon-hamburger" href="#main-menu"><span>Menu</span></a>

        <nav class="navigation slide-menu">

        <a class="close-btn icon-x" href="#main-menu"><span>Close</span></a>

         <ul class="nav">  
             <li class="top-nav-li">
                    
                    <a href="#work">
                Who We are
                        
                        <ul>
                    
                        <li>
                            <a href="#">
                                About
                            </a>
                            
                        </li>
                        <li>
                            <a href="#">
                                Our Team
                            </a>
                            </li>
                         <li>
                            <a href="#">
                                Press Mentions
                            </a>
                        </li>
                        
                    </a>
                
                    
                        </ul>
                    </li>
    
               
       
                <li class="top-nav-li">
                    <a href="#work">
                        What We Do
                    
                        <ul>
                        <li>
                            <a href="#">
                                Projects
                            </a>
                        </li>
                
                    <li>
                            <a href="#">
                                Programs
                            </a>
                        </li>
                
                    <li>
                            <a href="#">
                                Events
                            </a>
                        </li>
                
                    <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        
                    </a>
                        
                        </ul>
                </li>
          
                

                <li class="top-nav-li">
                     <a href="#contact">
               Get Involved
                    <ul>
                        <li>
                            <a href="#">
                                Donate
                            </a>
                        </li>
                 
                     <li>
                            <a href="#">
                               Volunteer
                            </a>
                        </li>
                 
                     <li>
                            <a href="#">
                                Jobs / Internships
                            </a>
                        </li>
                        
                        </ul>
                </li>
           
                   <li class="top-nav-li">
                       
                <a href="#contact">
             
                 Shop
                </a>
                </li>
        </ul> 
    </nav>
</header>