 <header class="banner">    
     
    <div class="mobile-top">
        <div class="top-logo">
            <a href="{{site.baseurl}}/index/">
                <img src="{{site.baseurl}}/images/logo-01.svg" class="mobile-logo" alt="Company Logo">
            </a>
        </div>
    </div>
     
          <!-- Menu Toggle Icon -->
        <a class="toggle-btn icon-hamburger-toggle" href="#main-menu"><span>Menu</span></a>

        <nav class="navigation slide-menu">

        <a class="close-btn icon-x" href="#main-menu"><span>Close</span></a>

         <ul class="nav">  
                    <h2>
                        Who We are
                     </h2>
                        
                        <li>
                            <a href="{{site.baseurl}}/about/">
                                About
                            </a>
                            
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/team/">
                                Our Team
                            </a>
                            </li>
                         <li>
                            <a href="{{site.baseurl}}/press/">
                                Press Mentions
                            </a>
                        </li>
                        
                  
                

                    <h2>
                        What We Do
                    </h2>
                    
                      
                        <li>
                            <a href="{{site.baseurl}}/projects/">
                                Projects
                            </a>
                        </li>
                
                    <li>
                            <a href="{{site.baseurl}}/programs/">
                                Programs
                            </a>
                        </li>
                
                    <li>
                            <a href="{{site.baseurl}}/events/">
                                Events
                            </a>
                        </li>
                
                    <li>
                            <a href="{{site.baseurl}}/blog/">
                                Blog
                            </a>
                        </li>
                        
                    </a>
                        
                      
           
          
                

               
                    <h2>
               Get Involved
                        </h2>
                   
                        <li>
                            <a href="{{site.baseurl}}/donate/">
                                Donate
                            </a>
                        </li>
                 
                     <li>
                            <a href="{{site.baseurl}}/jobs/">
                               Volunteer
                            </a>
                        </li>
                 
                     <li>
                            <a href="{{site.baseurl}}/jobs/">
                                Jobs / Internships
                            </a>
                        </li>
                        
            
                    <a href="{{site.baseurl}}/shop/">
                        <li>
                            Shop
                        </li>
                    </a>
                
        </ul> 
    </nav>
</header>