<div class="naomi" id="naomi"> 
    
          <a href="#team" class="lb-close icon-x"></a>
        
        <ul class="lb-nav">
            <li>
                <a href="#dexter" class="lb-back"><</a>
             </li>
    
            <li>
            <a href="#dill" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">
    
            <div class="profile">
              <div>
                <figure>
                  <img src="../images/naomi-beckwith.jpg" alt="Naomi Beckwith">
                </figure>
              </div>
              <div>
                   <h3>Naomi Beckwith</h3>
                <h4>MCA Chicago</h4>

                <p>Naomi Beckwith is the Marilyn and Larry Fields Curator at the Museum of Contemporary Art in Chicago, focusing on conceptual practices in contemporary art. Her master’s thesis on Adrian Piper and Carrie Mae Weems earned Distinction from the Courtauld Institute of Art in London. Her exhibitions and work have been featured in The New York Times, Artforum, T Magazine, Uptown, CODE Magazine, and Ebony Magazine where she was recently listed as a Top 100 Leader in Arts and Letters. Beckwith was a fall 2008 grantee of the Andy Warhol Foundation for the Visual Arts and was named the 2011 Leader to Watch by ArtTable. In addition to her curatorial work and service to The Laundromat Project, Beckwith has served on several host committees such as RUSH Philanthropic Gold Rush Awards, the BAMart Annual Auction, Triple Canopy and the Art for Africa auction for the Africa Foundation.</p>
              </div>
            </div>




    
</div>    
    
    	{% include footer.html %}
</div>