
<div class="desktop-banner">

            <div class="top-logo">
                <a href="{{site.baseurl}}/index.html">

                <img src="{{site.baseurl}}/images/logo-01.svg" class="nav-logo">
                </a>
            </div>



            <ul class="white desktop-nav" role="navigation" id="nav">
                   <li class="nav-li ">

                    <a  href="/" aria-haspopup="true">
                Who We are
                          </a>

                       <ul>

                            <li>
                                <a href="{{site.baseurl}}/about/">
                                    About
                                </a>

                            </li>

                            <li>
                                <a href="{{site.baseurl}}/team/">
                                    Our Team
                                </a>
                            </li>

                             <li>
                                <a href="{{site.baseurl}}/press/">
                                    Press
                                </a>
                            </li>

                       </ul>


                </li>

               <li class="nav-li">
                    <a href="/">
                        What We Do
                        </a>

                   <ul>

                        <li>
                            <a href="{{site.baseurl}}/projects/">
                                Projects
                            </a>
                        </li>

                    <li>
                            <a href="{{site.baseurl}}/programs/">
                                Programs
                            </a>
                        </li>

                    <li>
                            <a href="{{site.baseurl}}/events/">
                                Events
                            </a>
                        </li>

                    <li>
                            <a href="{{site.baseurl}}/blog/">
                                Blog
                            </a>
                        </li>

                       </ul>


                </li>


               <li class="nav-li">
                     <a href="#contact">
               Get Involved
                    </a>
                    <ul class=>
                        <li>
                            <a href="{{site.baseurl}}/donate/">
                                Donate
                            </a>
                        </li>

                     <li>
                            <a href="{{site.baseurl}}/jobs/">
                               Volunteer
                            </a>
                        </li>

                     <li>
                            <a href="{{site.baseurl}}/jobs/">
                                Jobs
                            </a>
                        </li>
                        <li>
                               <a href="{{site.baseurl}}/jobs/">
                                   Internships
                               </a>
                           </li>
                        </ul>
                </li>

                <li class="nav-li">
                    <a href="{{site.baseurl}}/shop/">Shop</a>
                </li>



            </ul>

        </div>
