<div class="desktop-banner">
        
        <div class="desktop-top">
                
            <div class="top-logo">
                <img src="images/logo-01.svg" class="nav-logo">
            </div>
        
                <button class="dt-donate-btn"><a href="donate.html">Donate</a></button>
        </div>
        
        
            <ul class="desktop-nav" role="navigation" id="nav">      
                   <li class="nav-li">
                    
                    <a href="/" aria-haspopup="true">
                Who We are
                          </a>
                       
                       <ul>
                    
                            <li>
                                <a href="about.html">
                                    About
                                </a>

                            </li>

                            <li>
                                <a href="team.html">
                                    Our Team
                                </a>
                            </li>

                             <li>
                                <a href="press.html">
                                    Press Mentions
                                </a>
                            </li>
                        
                       </ul>
                        
                  
                </li>
                
               <li class="nav-li">
                    <a href="/">
                        What We Do
                        </a>
                   
                   <ul>
                    
                        <li>
                            <a href="projects.html">
                                Projects
                            </a>
                        </li>
                
                    <li>
                            <a href="programs.html">
                                Programs
                            </a>
                        </li>
                
                    <li>
                            <a href="events.html">
                                Events
                            </a>
                        </li>
                
                    <li>
                            <a href="blog.html">
                                Blog
                            </a>
                        </li>
                       
                       </ul>
                        
                  
                </li>
          
                
               <li class="nav-li">
                     <a href="#contact">
               Get Involved         
                    </a>
                    <ul class=>
                        <li>
                            <a href="#">
                                Donate
                            </a>
                        </li>
                 
                     <li>
                            <a href="#">
                               Volunteer
                            </a>
                        </li>
                 
                     <li>
                            <a href="#">
                                Jobs / Internships
                            </a>
                        </li>
                        </ul>
                </li>
                
                <li class="nav-li">
                    <a href="#contact">Shop</a>
                </li>
                
            
              
            </ul>
        
        </div>

           
