<header id="header" class="banner">
        
    <input type="checkbox" class="nav-check" id="nav-check">
	   <label class="nav-label" for="nav-check">
            <img src="images/ham.svg" alt="hamburger button" class="ham">
            <img src="images/x.svg" alt="x" class="x">
        </label>
    
   <div class="top-logo">
       <a href="#work">
            <img src="images/logo-01.svg" class="mobile-logo" alt="Company Logo">
       </a>
                                                               </div>
    

    <nav class="nav" role="navigation" id="nav">    
            <ul> 
                
                <li class="top-nav-li">
                    <a href="#contact">Donate</a>
                </li>
                
                
                <li class="top-nav-li">
                    <a href="#work">Who We are</a>
                </li>
                
               <li class="top-nav-li">
                    <a href="#about">What We Do</a>
                </li>
                
                <li class="top-nav-li">
                    <a href="#contact">Get Involved</a>
                </li>
                
                <li class="top-nav-li">
                    <a href="#contact">Shop</a>
                </li>
                
                
           
            </ul>
	</nav>
</header>
    
    <div class="border-btm pink"></div>
    
    
    <div class="desktop-nav"> 
                
        <div class="top-logo">
            <img src="images/logo-01.svg" class="nav-logo">
        </div>
        
            <ul>
            <li class="nav-li">
                    <a href="#contact">Donate</a>
                </li>
                
                
                <li class="nav-li">
                    <a href="#work">Who We are</a>
                </li>
                
               <li class="nav-li">
                    <a href="#about">What We Do</a>
                </li>
                
                <li class="nav-li">
                    <a href="#contact">Get Involved</a>
                </li>
                
                <li class="nav-li">
                    <a href="#contact">Shop</a>
                </li>
            
              
            </ul>
        
    </div>
           
