<h1> Press Mentions </h1>

<h2> 2015 </h2>

<img src="">

<p>December 20
Artsy
<a href="https://www.artsy.net/article/artsy-editorial-the-most-relevant-art-today-is-taking-place-outside-the-art-world">The Most Relevant Art Today Is Taking Place Outside the Art World </a>
Isaac Kaplan
</p>

<p>October 27
Hunts Point Express
<a href="http://brie.hunter.cuny.edu/hpe/2015/10/27/kelly-street-neighbors-unites-around-garden/">Kelly Street Neighbors Unite Around Garden </a>
Shawn Blagmon
</p>

<p>October 9
The Pew Center for Arts &amp; Heritage
<a href="http://www.pcah.us/posts/288_questions_of_practice_kemi_ilesanmi_of_the_laundromat_project_on_the_role_of_artists_in_community_development">Questions of Practice: Kemi Ilesanmi of The Laundromat Project on the Role of Artists in Community Development </a>
</p>

<p>September 24
BK Live
<a href="https://www.youtube.com/watch?t=540&v=dQxSK49O18c">Bed-Stuy Resident Artists </a>
</p>

<p>September 23
Brooklyn Reader
<a href="https://www.bkreader.com/2015/09/35334/">Griots in the Stuy</a>
</p>

<p>September 16
Brownstoner
<a href="http://www.brownstoner.com/blog/2015/09/laundromat-art-festival-bed-stuy-field-day-2015-events-september-20/">Laundromat Art Festival to Transform Bed Stuy This Weekend </a>
Hannah Frishberg
</p>

<p>September 16
Urban Omnibus
<a href="http://urbanomnibus.net/2015/09/the-laundromat-project-field-day-2015/">The Laundromat Project: Field Day 2015 </a>
Ben Pardee
 </p>

<p>September 1
DNAinfo
<a href="https://www.dnainfo.com/new-york/20150901/bed-stuy/laundromat-art-festival-celebrates-neighborhood-culture-across-boroughs">Laundromat Art Festival Celebrates Neighborhood Culture Across the Boroughs </a>
Camille Bautista
</p>

<p>February 23
Broadway World
<a href="http://www.broadwayworld.com/article/2015-Arts-Entrepreneurship-Awards-Winners-Announced-20150223">2015 Arts Entrepreneurship Awards Winners Announced </a>
</p>

<p>February 16
BronxNet
<a href="http://www.bronxnet.org/tv/bronxtalk/viewvideo/5157/bronxtalk/bronxtalk--feb-16-2015">BronxTalk: The Laundromat Project</a>
</p>

<p>February 12
The Guardian
<a href="http://www.theguardian.com/culture-professionals-network/2015/feb/12/creative-ways-artists-improve-communities?CMP=share_btn_fb">Six Creative Ways Artists Can Improve Communities
</a>
Laura Zabel
</p>
