<p>Purchase a special edition LP print or tote bag. Our special editions were created by some of New York’s most awesome contemporary artists. All sales support The LP’s general operations and allow us to continue turning oft drab coinops into joyful spaces of creativity and community!</p>

<h1>SHIPPING & HANDLING</h1>

<ul>
  <li>$30 for special edition prints</li>
  <li>$3 for tote bags</li>
</ul>

<h2>Featured</h2>

<h3>CEDAR (A), 2015</h3>
<img src="../images/cedar-A-2015.jpg" alt="cedar-2015">
<button>Buy Now</button>
<h4>Xaviera Simmons</h4>
<ul>
  <li>Digital C-print</li>
  <li>16 x 20 in</li>
  <li>Edition of 20</li>
  <li>Courtesy of the Artist</li>
  <li>$1,500</li>
</ul>

<h2>Special Edition Prints</h2>
<h3>SHADE, 2014</h3>
<img src="../images/shade-2014.jpg" alt="shade-2014">
<h3>Edition #'s available</h3>
<p>6-10 $1,500.00 USD</p>
<button>Buy Now</button>
<h4>Derrick Adams</h4>
<ul>
  <li>Digital C-print</li>
  <li>18 x 24 in</li>
  <li>Edition of 20</li>
  <li>Courtesy of the Artist</li>
  <li>$1,500 and up</li>
</ul>

<h3>POST-WHITE, 2012</h3>
<img src="../images/post-white-2014.jpg" alt="post-white-2014">
<button>Buy Now</button>
<h4>Dread Scott</h4>
<ul>
  <li>Serigraph print</li>
  <li>11 x 14 inches</li>
  <li>Edition of 25</li>
  <li>Courtesy of the Artist</li>
  <li>$1,000</li>
</ul>

<h3>MASTER PLAN 3, 2012</h3>
<img src="../images/masterplan3-2012.jpg" alt="masterplan3-2012">
<button>Buy Now</button>
<h4>Kenya (Robinson)</h4>
<ul>
  <li>Serigraph print</li>
  <li>11 x 14 inches</li>
  <li>Edition of 20</li>
  <li>Courtesy of the Artist</li>
  <li>$250</li>
</ul>

<h3>BLACULA, 2009</h3>
<img src="../images/blacula-2009.jpg" alt="blacula-2009">
<button>Buy Now</button>
<h4>Rudy Shepherd</h4>
<ul>
  <li>Serigraph print</li>
  <li>11 x 14 inches</li>
  <li>Edition of 20</li>
  <li>Courtesy of the Artist</li>
  <li>$250</li>
</ul>

<h3>NEW GRAFFITI OLD REVOLUTIONS, 2010</h3>
<img src="../images/new-graffiti-old-revolutions-2010.jpg" alt="new-graffiti-old-revolutions-2010">
<button>Buy Now</button>
<h4>Jayson Keeling</h4>
<ul>
  <li>Digital C-print</li>
  <li>11 x 14 inches</li>
  <li>Edition of 20</li>
  <li>Courtesy of the Artist</li>
  <li>$250</li>
</ul>

<h3>POTOSÍ, 2012</h3>
<img src="../images/potosi-2012.jpg" alt="potosi-2012">
<button>Buy Now</button>
<h4>Ronny Quevedo</h4>
<ul>
  <li>Serigraph print</li>
  <li>11 x 14 inches</li>
  <li>Edition of 25</li>
  <li>Courtesy of the Artist</li>
  <li>$250</li>
</ul>

<h2>Tote Bags</h2>
<h3>THE LP “WAVE” TOTE</h3>
<img src="../images/totebag.jpg" alt="totebag">
<button>Buy Now</button>
<h4>Tote bag</h4>
<ul>
  <li>$12</li>
</ul>
