<div>
          <div>
            <figure>
              <img src="../images/alicia-grullon.jpg" alt="Alicia Grullón">
            </figure>
          </div>
          <div>
            <h3>Alicia Grullón</h3>

            <h4>Artist Catalyst</h4>

            <p>Alicia Grullón is an artist and Artist Catalyst with The Laundromat Project’s Kelly Street Initiative. A Bronx native, she explores encounters between people and how these encounters are locations where issues of race, class, gender, and activism open up. She creates interdisciplinary, often performative work, that transforms how community and history are experienced. She has been widely-exhibited, having presented work for El Museo del Barrio, The Bronx Museum of the Arts, Creative Time, Open Engagement, School of Visual Arts and the Royal College of Art. She holds a BFA from New York University and an MFA from SUNY New Paltz. She is presently serving as the Altman Foundation Fellow at Columbia University’s Wallach Gallery.</p>
          </div>
        </div>
        
        <div>
          <div>
            <figure>
              <img src="../images/kemi-ilesanmi.jpg" alt="Kemi Ilesanmi">
            </figure>
          </div>
          <div>
            <h3>Kemi Ilesanmi</h3>

            <h4>Executive Director</h4>

            <p>Kemi Ilesanmi is the Executive Director of The Laundromat Project. With over 14 years experience in the cultural arena, she is inspired by the immense possibilities for joy and change at the intersection of arts, activism and community. Prior to joining The LP, she was Director of Grants and Services at Creative Capital Foundation where she supported the work of American artists making adventurous new work. From 1998-2004, she was a visual arts curator at the Walker Art Center in Minneapolis. While there, she organized several exhibitions, including The Squared Circle: Boxing in Contemporary Art, and ran the visual arts residency program. She is holds a Masters in Public Administration from New York University and a BA in Afro-American Studies from Smith College. She is also an alumna of the Coro Leadership New York program.</p>
          </div>
        </div>
         <div>
          <div>
            <figure>
              <img src="../images/yvette-ramirez.jpg" alt="Yvette Ramírez">
            </figure>
          </div>
          <div>
            <h3>Yvette Ramírez</h3>

            <h4>Program Associate</h4>

            <p>Born and raised in Queens, NY, Yvette is an educator, community organizer and multi-media artist. She is inspired by the arts as a social agent that can build and empower communities as well as bring about transformative justice and healing. She has worked as an organizer with Latino and working class communities with Make The Road NY and New Immigrant Community Empowerment and as a fellow with the Center for Neighborhood Leadership. In addition, she has worked as an arts education assistant at The Noguchi Museum as well as alongside artist Sol Aramendi via Project Luz. She holds a BA from Hunter College in Romance Languages and Political Science where she studied past and present social movements in Latin America. As a daughter of Bolivian immigrants, she is interested in exploring identity based politics, the meaning of “home,” memory, and patriarchy through her art practice.</p>
          </div>
        </div>

 <div>
          <div>
            <figure>
              <img src="../images/hatuey.jpg" alt="Hatuey Ramos-Fermín">
            </figure>
          </div>
          <div>
            <h3>Hatuey Ramos-Fermín</h3>

            <h4>Director of Programs &amp; Community Engagement</h4>

            <p>Hatuey Ramos-Fermín is an artist, educator, and curator based in The Bronx. He is the co-founder of meta local collaborative, a Bronx-based artist collective, and Boogie Down Rides, a bicycling and art project celebrating cycling in the Bronx. He has organized projects and made presentations at a security guard training school (in tribute to Fashion Moda), community centers, churches, restaurants, laundromats, as well as galleries and museums. He has mentored young adults at the Center for Urban Pedagogy, and The Bronx Museum of the Arts, where he also served as Curator of Education. Ramos-Fermín has also participated in the Elizabeth Foundation for the Art’s Shift Residency, and The Laundromat Project’s Create Change Public Artist Residency. He received his BA from the University of Puerto Rico and his MFA from St. Joost Art and Design Academy.</p>
          </div>
        </div>
        
        <div>
          <div>
            <figure>
              <img src="../images/akiva.jpg" alt="Akiva Steinmetz-Silber">
            </figure>
          </div>
          <div>
            <h3>Akiva Steinmetz-Silber</h3>

            <h4>Development &amp; Communications Associate</h4>

            <p>Akiva Steinmetz-Silber is Development &amp; Communications Associate with The Laundromat Project.He is a DJ and creative thinker interested in the ways that cultural practices enrich and inform our experiences of place. Akiva graduated from Naropa University with a B.A. in Interdisciplinary Studies, concentrating in religious studies, writing, and literature.</p>
          </div>
        </div>
        
           <div>
          <div>
            <figure>
              <img src="../images/ebony.jpg" alt="Ebony Noelle Golden">
            </figure>
          </div>
          <div>
            <h3>Ebony Noelle Golden</h3>

            <h4>Cultural Organizing Consultant</h4>

            <p>Ebony Noelle Golden believes “we are the ones we have been waiting for,” as June Jordan’s prophetic line of poetry continues to remind us. Golden, a Houston, Texas native, works at the intersecting pathways of arts, culture, and education with individuals and organizations pushing for community-powered cultural change. In 2011, Ebony funneled her passion for entrepreneurship, youth development, culture shift, justice, education and the arts into Betty’s Daughter Arts Collaborative, LLC, a cultural arts direct action group based in Harlem. The company is named after her now retired mother, professor and community organizer, Dr. Betty Ann Sims. Ebony Noelle Golden earned a B.A. in Literature and Creative Writing from Texas A&M University, an M.F.A. in Creative Writing-Poetry from American University, and an M.A. in Performance Studies from New York University’s Tisch School of the Arts.</p>
          </div>
        </div>