<div class="stephanie" id="stephanie"> 
    
          <a href="#team" class="lb-close icon-x"></a>
        
        <ul class="lb-nav">
            <li>
                <a href="#dill" class="lb-back"><</a>
             </li>
    
            <li>
            <a href="#erika" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">


<div class="profile">
  <div>
    <figure>
      <img src="../images/stephanie-dinkins.jpg" alt="Stephanie Dinkins">
    </figure>
  </div>
  <div>
    <h3>Stephanie Dinkins</h3>

    <h4>Stony Brook University</h4>

    <p>Stephanie Dinkins is a visual artist who uses the power and potential of images to investigate subjectivity and social equity through moving image, community-centered projects and installations. Her work is exhibited internationally and has been featured at renowned and community based venues, including Institute of Contemporary Art Dunaujvaros, Hungary; Herning Kunstmuseum, Denmark; Spellman College Museum of Fine Art; Contemporary Art Museum Houston; Wave Hill, Studio Museum in Harlem; Spedition, Bremen, Germany; and the corner of Putnam Ave and Malcolm X Blvd, Bedford Stuyvesant, Brooklyn. She is an alumna of the Maryland Institute College of Art (MFA), the International Center of Photography, and Syracuse University. She is also Associate Professor of Art at Stony Brook University where she teaches digital and interactive media.</p>
  </div>
</div>


    
</div>    
    
    	{% include footer.html %}
</div>