<h1>Volunteer with us</h1>

<p>The Laundromat Project is seeking volunteers looking for fun ways to make art accessible in New York City. We offer a wide range of opportunities, from helping at special events to aiding teaching artists at art workshops and assisting staff in The LP office. Benefits of working with us include:</p>

<ul>
  <li>Networking and socializing with other talented volunteers</li>
  <li>Helping to promote public art and art education</li>
  <li>Learning new art techniques and making art projects</li>
  <li>Fostering creative expression among program participants</li>
  <li>Building a sense of community in New York City neighborhoods</li>
</ul>

<h2>Apply</h2>

<p>Please understand that submitting an application for volunteering does not guarantee a position. Please be advised that we are only able to contact those candidates whose skills and background best fit the needs of the volunteer opportunities. Once your application has been processed, we will contact you should a position be available.</p>

<p>To sign up for volunteer opportunities with The LP, please fill out this brief form.</p>

<p>Questions? Email info@laundromatproject.org.</p>
