html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Noto Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.skip-links {
  display: none;
}
body{
    margin:0;
     &.noscript .close-btn,
  &.noscript .toggle-btn{
      display: none;
  }
}
h1{
    color:$dark-blue;
}

.donate-btn{
    display:none;
}

.top-logo {
  margin: 0 5% 0;
  height: auto;
}
.mission-container{
    margin: 0 10% 2em;
}
/*======================================*/
/*===========MOBILE Navigation=================*/
/*======================================*/
.mobile-logo {
  height: 90px;
  margin: 1em auto 1em;
  text-align: center;
}
.mobile-top{
     border-bottom:2px solid $coral;
}
.x {
  display: none;
  float: right;
  cursor: pointer;
  margin: 3em 2% 0;
}
.ham {
  height: 50px;
  width: 50px;
  float: right;
  margin: 3em 2% 0;
  position: relative;
  opacity: 1;
  cursor: pointer;
}
.mobile-nav {
  display: none;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
.mobile-nav ul {
  padding-left: 0;
}
.top-nav-li {
  color: $coral;
  font-size: 2em;
  padding: .25em 0 .25em;
  border-bottom: 1px solid #efefef;
  display: block;
}
.top-nav-li:last-child {
  padding: .25em auto 2em;
}
.mobile-nav a {
  text-decoration: none;
}
/* This selected targets the `.nav` only when the checkbox is checked */
.nav-check:checked ~ .mobile-nav {
  display: block;
  height: auto;
  margin: 0 auto .25em;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav-check:checked ~ .nav-label .ham {
  display: none;
}
.nav-check:checked ~ .nav-label .x {
  display: block;
  float: right;
  height: 50px;
  width: 50px;
}
.nav-check {
  /* Put the checkbox off the top of the screen */
  position: absolute;
  top: -6em;
}
/*======================================*/
/*===========Desktop Navigation=================*/
/*======================================*/
.nav-logo {
  height: 90px;
  margin: .5em auto .5em;
  text-align: center;
}
.nav-logo {
  display: none;
}
.desktop-top {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.desktop-banner {
  display: none;
}
.desktop-nav ul li.middle {
  display: none;
}
#nav {
list-style:none;
height:2em;
    float: right;
    display: block;
    padding-left: 0;
    width: auto;
    padding: 0;
    margin: 2em 0 0;
}
#nav li {
    position:relative;
    display:inline-block;
    width: 115px;
    text-align:center;
    color: $coral;
}
#nav li:hover {
  color: white;
  background: $blue;
}
#nav a {
    display:block;
    color:#000;
    text-decoration:none;
    line-height:2em;
    &:hover{
    color: white;
}
}
/* --------- Drop Down -------- */
#nav ul {
    position:absolute;
    left:-999em;
    top:2em;
    list-style:none;
    padding-left: 0;
    background-color: $blue;
    margin: 0 auto 3em;
}
#nav li:hover ul {
    left:0;
    top:auto;
    background-color:white;
    width: 140px;
    border: 2px solid $blue;
}
/*======================================*/
/*===========Footer=================*/
/*======================================*/
.company-info {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
.company-info a {
  text-decoration: none;
  color: white;
}
.footer-logo {
  height: 100px;
  margin: .5em auto .5em;
  text-align: center;
  display: block;
}
.footer {
  background-color: #494f50;
  color: white;
  height: 400px;
  overflow: hidden;
}
.social-container {
  list-style-type: none;
  padding-left: 0;
  margin: 0 20% 0;
}
.social {
  display: inline-block;
  margin: 1em 5% 1em;
  opacity: .5;
  width: 20%;
}
.social:hover {
  opacity: 1;
}
.footer-nav{
    padding-left: 100px;
    display: none;
        li{
            display: inline-block;
            width: 100px;
            margin: 1em 5% 1em;
        }
            a{
                text-decoration: none;
                color:white;
                &:hover{
                    color: $coral;
                }
            }
}
.footer-nav li:last-child{
    margin-right:0;
}
.footer-nav li{
    ul{
        padding-left: 0;
        position: relative;
    }
        li{
            margin:0;
        }
}
.social a {
  text-decoration: none;
  font-size: 2em;
  color: white;
}
.billboard {
      height: calc(100vh - 190px);
      width: 100%;
      background-image: url(../images/new-york.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
}
.billboard-box{
        background-color: rgba(51, 61, 61, .75);
        color:white;
        text-transform: uppercase;
        width:100%;
        position: absolute;
        bottom: 0;
        right:0;
            h1{
                white-space: nowrap;
                padding: .5em 10% .5em;
                color:white;
            }
    }
.billboard-buttons{
    width:100%;
    height: auto;
    margin: 1em auto 1em;
        .buttons{
            text-align: center;
        }
            i{
                margin: 0 5% 0;
            }
}
.copyright {
  font-size: .75em;
  text-align: center;
}
.container{
    margin: 0 10% 0;
}
.toggle-btn{
    position: absolute;
    right: 1em;
    top:60px;
    font-size: 2em;
    color: $dark-grey;
}
.navigation{
    h2{
        text-align: center;
        color:$coral;
    }
    ul{
        margin:0;
        padding:0;
    }
    li{
        list-style-type:none;
        font-size: 1.5em;
        color: $coral;
        &:first-child a{
             }
    }
        a{
            display: block;
            color:$dark-grey;
            text-align: center;
            text-decoration: none;
            &:first-child{
                border-bottom: 0;
            }
    }
    .close-btn{
            color:$coral;
    }
}
.nav{
    ul{
        display: none;
    }
        li{
        }
}
.toggle-btn,
.close-btn{
    color: $text-color;
    text-decoration: none;
    height: 40px;
    width: 40px;
    &:before{
        height: 40px;
        width: 40px;
        display: inline-block;
    }
    span{
        @include element-invisible;
    }
}
.close-btn{
    margin: 1em;
    font-size: 2em;
    color: $coral;
}


/*======================================*/
/*===========Lightbox=================*/
/*======================================*/

.scrolloff{
    overflow: hidden;
    
}

.profile{
    background-color: $dark-blue;
    padding: 1em 10% 1em;
    border-radius: 8px;
    color:white;
    margin:0;
        figure{

            text-align: center;
                img{
                    margin:0 auto 0;  
                 
                }
        }
        h1, h2, h3, h4{
            text-align: center;  
            margin:0;
        }


}

.naomi{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
    -webkit-overflow-scrolling: touch;

}

.naomi:target {
    display:block; 
}



.naomi > .container{
     overflow: hidden;
    margin: 75px 10% 1em;
    
    
}

.dill{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
}

.dill:target {
    display:block;
}

.dill > .container{
    overflow: hidden;
    margin: 75px 10% 1em;    
}

.stephanie{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
}

.stephanie:target {
    display:block;
 
    
}

.stephanie > .container{
    overflow: hidden;
    margin: 75px 10% 1em;  
}

.erika{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
       -webkit-overflow-scrolling: touch;
}

.erika:target {
    display:block;
 
    
}

.erika > .container{
    overflow: hidden; 
    margin: 75px 10% 1em;  
}

.sophie{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
       -webkit-overflow-scrolling: touch;
}

.sophie:target {
    display:block;
 
    
}

.sophie > .container{
    overflow: hidden;
    margin: 75px 10% 1em;  
}

.christopher{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
       -webkit-overflow-scrolling: touch;
}

.christopher:target {
    display:block;
 
    
}

.christopher > .container{
    overflow: hidden;
    margin: 75px 10% 1em;  
}

.julie{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
       -webkit-overflow-scrolling: touch;
}

.julie:target {
    display:block;
 
    
}

.julie > .container{
    overflow: hidden;
    margin: 75px 10% 1em;  
}

.rise{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
       -webkit-overflow-scrolling: touch;
}

.rise:target {
    display:block;
 
    
}

.rise > .container{
    overflow: hidden;
    margin: 75px 10% 1em;  
}

.dexter{
    position: fixed;
    top:154px;
    left:0;
    z-index: 50;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 154px);
    display:none;
    background-color: white;
       -webkit-overflow-scrolling: touch;
}

.dexter:target {
    display:block;
 
    
}

.dexter > .container{
    overflow: hidden;
    margin: 75px 10% 1em;  
}



.lb-content1{
    width: 100%   
    
}

.lb-close {
    position: absolute;
    top:15px;
    left:25px;
	text-decoration: none;
	color: $coral;
    width:50px;
    text-align: center;
    font-size: 2em;
        cursor: pointer;
}

.lb-nav{
    list-style-type: none;
    position: fixed;
    right:0px;
    margin:0;

    
}

.lb-next, .lb-back{
   font-size: 1.5em;
    font-weight: 500;

    
}

.lb-nav li{
    width: 50px;
    height: 50px;
    text-align: center;
    
}


.lb-nav li a{
    padding:1em 0 1em;
    display: block;
	text-decoration: none;
	color: $coral;
    text-align: center;
        cursor: pointer;
}




/*======================================*/
/*===========TEAM PAGE=================*/
/*======================================*/
.supporters{
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: $dark-blue;
            &:hover{
             color:$coral;
                    }
    }
}
.faculty{
}
.team {
    color:white;
    padding: 1em 0 0;
    background-color:$dark-blue;
    h1{
        text-align: center;
        color:white;
        line-height: 1em;
        margin: 0;
        font-size: 2.5em;
    }
        h2{
            text-align: center;
            line-height: 1em;
            margin: .5em auto .5em;
            font-size: 1em;
        }
        img{
            width:100%;
            max-width: 100%;
            height: auto;
            margin: 0 auto 0;
            border: 5px solid white;
             &:hover{
                 border: 5px solid $coral;
                
            
            }
        }
       
        figure{
            text-align: center;
        }
    .container{
            margin: 0 5% 0;
    }
}
.circle-info{
    h1{
        text-align: center;
    }
}
.circle{
    ul{
        padding-left: 0;
        list-style-type: none;
        margin:0 auto 1em;
    }
    h4{
        margin:0;
        color:$dark-blue;
    }
    h3{
        text-transform: uppercase;
        color:$dark-blue;
    }
}
page{
    h1{
        font-size: 2.5em;
    }
    h2{
       font-size: 1em;
    }
}
.staff {
    color:white;
    padding: .5em 0 1em;
    background-color:$dark-blue;
    h1{
        text-align: center;
        color:white;
        line-height: 1em;
        margin: 0 0 1em;
        font-size: 2.5em;
    }
        img{
            width:100%;
            max-width: 100%;
            height: auto;
            margin: 0 auto 0;
            border: 5px solid white;
        }
            img:hover{
                opacity: .5;
        }
        figure{
            text-align: center;
        }
    .container{
            margin: 0 5% 0;
    }
}
.faculty{
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    li{
        color:$dark-blue;
    }
}
// dontation form start
  .form-holder {
      margin: 0 15% 0;
      padding: 0 5% 1em;
      background-color: white;
      border-radius: 10px;
      h1{
          padding:1em 0 0;
          margin: 0;
      }
    }
.donate-container {
  margin: 0;
    h2{
        color: $dark-blue;
    }
}
.disclaimer{
    padding: 0 15% 1em;
}
.field {
  width: 50%;
  border: 1.25px solid $dark-grey;
  background-color: $light-grey;
  border-radius: 5px;
  height: 20px;
  margin: .5em;
}
.security-field{
  width: 3em;
  border: 1.25px solid $dark-grey;
  background-color: $light-grey;
  border-radius: 5px;
  height: 20px;
  margin: .5em;
}
.box {
  display: inline-block;
  font-size: 12px;
  width:40%;
}
.donate-small-text {
  font-size: 12px;
}
.amount-buttons {
  background-color: $dark-grey;
  font-size: 14px;
  color: white;
  min-width: 80px;
  max-width: 80px;
  height: 30px;
  border: 0px;
  border-radius: 8px;
  text-transform: uppercase;
  margin: .5em ;
}
.donate-button-container{
  margin: 0 auto 1em;
}
.amount-buttons:hover,
.amount-buttons:active,
.amount-buttons:focus {
  background-color: $coral;
}
.donate-amount {
  width: 40em;
}
.big-donate-button-container {
  margin: 0 auto 0;
}
.final-donate-button {
  background-color: $dark-grey;
  font-size: 20px;
  color: white;
  min-width: 125px;
  max-width: 150px;
  height: 50px;
  border: 0px;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 1.5em;
}
.final-donate-button:hover,
.final-donate-button:active,
.final-donate-button:focus {
  background-color: $coral;
}
.donate-button-container {
  max-width: 350px;
}
.text-white {
  color: white;
}
.donate-thank-you {
  text-align: center;
  margin: 3em auto 0;
  font-size: 3em;
}
// donation-folder end
// programs
.program-wrapper {
  max-width: 60em;
  margin: 0 auto 0;
  padding: 0;
    h2{
        color: $dark-blue;
    }
}
.program-wrapper h1{
  padding-top: 1em;
  margin: 0;
  text-align: center;
}
.programs-link {
  color: $coral;
    border: 1px solid white;
    border-radius: 8px;
    background-color:white;
    padding: .5em;
    text-decoration: none;
  &:hover {
    color: $blue;
  }
}

.programs{
    padding: 1em 10% 2em;
    background-color: $light-grey;
    border-radius: 8px;
    color: $dark-grey;
        h1{
            color: $dark-grey;
        }

}



.navy{
    padding: 1em 10% 2em;
    background-color: $dark-blue;
    border-radius: 8px;
    color:white;
        h1{
            color:white;
        }

    h2{
        margin:0;
        padding: 0;
    }

}

/*===================*/
/*====blog===========*/
/*===================*/

.blog-container {
  max-width: 60em;
  margin: 0 auto 0;
}

.video {
  margin: 0 auto 3em;
}

/*======================================*/
/*===========Shop Page=================*/
/*======================================*/
.center {
  text-align: center;
  margin: 2em auto 2em;
}

.shop {
  max-width: 40em;
  display: block;
  margin: 0 auto 0;
}

.shop-description ul {
  margin: 0 auto 0;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.shop-title {
  padding: 0;
  margin: 0;
}

.shop-intro-container {
  background-image: url(../images/art-shop.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.shop-intro {
  background-color: rgba(245,245,245,.75);
  position: relative;
  padding: 2em;
  border-radius: 8px;
  max-width: 40em;
  margin: 0 auto 0;
}

.shop-item-title {
  text-transform: uppercase;
}

.shop-item-container {
  margin: 0 auto 0;
}

.shop-amount-buttons {
  background-color: $dark-grey;
  font-size: 14px;
  color: white;
  min-width: 80px;
  max-width: 80px;
  height: 30px;
  border: 0px;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  margin: 1em;
}
.shop-amount-buttons:hover,
.shop-amount-buttons:active,
.shop-amount-buttons:focus {
  background-color: $coral;
}

.shipping {
  padding-bottom: 4em;
  margin: 0 auto 0;
  text-align: center;
}

.shipping-list {
  list-style-type: none;
}

/*======================================*/
/*===========Press Page=================*/
/*======================================*/

.press-page{
    .container{
        padding: 0 auto 4em;
            h1{
                margin: 0;
            }

            h2{
                margin:0;
            }

            a{
                color: $coral;
            }
    }

}

/*======================================*/
/*===========ABOUT=================*/
/*======================================*/

.value{
    height: 300px;
    width: 100%;
    padding: 1em;

        h3{
            margin:0;
            color: $coral;
        }
}

/*======================================*/
/*===========Projects Page=================*/
/*======================================*/
.projects-billboard {
  background-image: url(../images/projects.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.projects-intro {
    padding: 1em 10% 2em;
    max-width: 40em;
    margin: 0 auto 0;
    background-color: rgba(245,245,245,.75);
    border-radius: 8px;
    color:white;
        h1{
            color: $dark-grey;
        }

}

.projects-page{

    .container{
        padding: 0 auto 4em;

            h2{
                margin:0;
                color:$coral;
            }
        h1{
            text-align: center;
        }
    }
}

    .events-page{
        .container{


                }

                h2{
                  color: $dark-blue;
                }
            }


.event{
    height: auto;
    width: 100%;
    padding: 1em;
    margin: 1em 0 1em;

        h3{
            margin:0;
            color: $coral;
        }
}

.employment-container {
      background-image: url(../images/employment.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 40vh;
      width: 100%;
    
}

.jobs-intro{
    max-width: 30em;
    margin: 0 auto 6em;
    padding: 1em 10% 2em;
    background-color: rgba(245,245,245,.75);
    border-radius:0 0 8px 8px;
    color: $dark-grey;
        h1{
            color: $dark-grey;
        }

}








/*======================================*/
/*===========Media Queeries=================*/
/*======================================*/

@media only screen and (min-width: 40em) {
    
    .naomi, .dill, .stephanie, .erika, .sophie, .christopher, .julie, .rise, .dexter{
        top:115px;
        height: calc(100vh - 115px);
    }
    
    .employment-container{
        margin: 90px 0 0;
    }

    .events-page{
        .container{
             h1{
                margin: 4em 0 0;    
                }
            }
        }

    .title{
        padding: 4em 0 0;
    }

    .navy{
    padding: 6em 10% 2em;
    }

    .press-page{
        .container{
            padding: 0 auto 4em;
                h1{
                    margin: 4em 0 0;
                }
        }
    }

        .about-page{
        .container{
            padding: 0 auto 4em;
                h1{
                    margin: 4em 0 0;
                }
        }
    }

    .donate-btn{
        width: 100px;
        height: 40px;
        position: fixed;
        display: block;
        right:0;
        opacity: .9;
        background-color: $coral;
        bottom:204px;
        z-index: 150;
        color:white;
        border:1px solid white;
        border-radius: 8px 0 0 8px ;
                h2{
                    text-align: center;
                    font-size: .75em;
                    text-transform: uppercase;
                }
        a{
         text-decoration: none;
            color:white;
        }
    }
    .donate-btn:hover{
        background-color: $blue;
    }

    .donate-container {
        background-color: $coral;
        padding: 90px 0 0;
    }

    .jobs-page {
        .container{
          padding: 0 10% 0;
          max-width: 50em;
          margin:0 auto 0;
            
                h2, h3, h4{
                    color:$dark-blue;   
                }
                a{
                    color:$coral;   
                }
            
            
        }
    }


    .mission-container{
    margin: 0 15% 2em;
    }
    .mobile-logo {
    display: none;
    }
    .top-nav {
    display: none;
    }
    .nav-logo {
    display: block;
    float: left;
    }
    .desktop-banner {
    text-transform: lowercase;
    display: block;
    width: 100%;
    height: 115px;
        top:0;
      position: fixed;
      z-index: 100;
      background-color:white;
      border-bottom: 2px solid $coral;
    }
    .container{
        margin: 0 10% 0;
    }
    .banner {
    display: none;
    }
    .top-logo {
        margin: .25em 1% .25em;
        text-align: center;
        float: left;
        height: auto;
          position: fixed;
    }
    .billboard-box{
        width: 60%;
    }
    .billboard {
      height: calc(100vh);
    }
    .team{
        .container{
        margin: 90px 15% 0;
        }
    }
    .staff{
        .container{
        margin: 90px 15% 0;
        }
    }
    .shop-intro {
      padding-top: 8em;
    }

    .blog-container {
      padding-top: 8em;
    }
}
@media only screen and (max-width: 40em){
    .amount-buttons {
      min-width: 100px;
      min-height: 50px;
    }

    .shop-amount-buttons {
      min-width: 100px;
      min-height: 50px;
    }

    .site-wrapper{
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 100;
        .sliding-canvas{
            width:100%;
            height: 100%;
            position: relative;
            transform: translateX(0);
            transition: all 300ms ease-in-out;
        }
        &[data-state="slide-open"] .sliding-canvas{
            transform: translateX(-100%);
        }
        &[data-state="slide-open"]{
            overflow: visible;
        }
    }
    .navigation{
        position: absolute;
        width:100%;
        right: -100%;
        top:0;
        bottom:0;
        padding: 0;
        min-height: 800px;
    }
}
@media only screen and (min-width: 40em){
    .program-wrapper h1{
    padding: 100px 0 0;
    text-align: left;
    }
    .program-wrapper{
    max-width: 30em;
    }
    .toggle-btn,
    .close-btn{
        display:none;
    }
    body.noscript .navigation{
    position: static;
    right: auto;
    }
    .navigation{
        ul{
        list-style-type: none;
        padding-left: 0;
        position: absolute;
        top:0;
        right:0;
        }
        .close-btn{
        display:none;
        }
        li{
        display: inline-block;
        width: 5em;
        background-color: white;
        }
        a{
        border-bottom: 0;
        color:$coral;
        }
        li:first-child a{
        border-top: 0;
        }
        a:hover{
        text-decoration: line-through;
        color:black;
        transition: all .2s linear;
        }
    }
}
@media only screen and (min-width: 50em) {

      .form-holder {
      margin: 10px 25% 0;
      }

     .disclaimer {
      margin: 0 15% 0;
      }


    .team {
        h1{
        margin: 100px 0 0;
        }
    }
    .circle-info{
        margin: 0 20% 0;
    }
    .mission-container{
    margin: 0 30% 2em;
    }
    .billboard-box{
        width: 40%;
    }
    #nav li {
        width: 140px;
    }
}
@media only screen and (min-width: 60em) {
    .footer-nav{
        display:block;
    }
}
@media only screen and (min-width: 90em) {
    .billboard-container{
        margin: 0 10% 0;
    }
}
